body {
    margin: 0; padding: 0px;
}

.none {
    display: none;
}

#container {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Clock CSS */
#clock {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.clocks {
    font-size: 800%;
    color: aliceblue;
    font-weight: bolder;
    text-shadow: 1px 1px red;
}

.clocks:hover {
    color: black;
}

.date {
    text-shadow: 1px 1px red;
    font-size: 150%;
    text-align: center;
    color: aliceblue 
}

.date:hover {
    color: black;  
}

/* name css */

.show-name {
    text-align: center;
    color:wheat;
    font-weight: bold;
    text-shadow: 1px 1px blue;
}

/* todo css */

#todobox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 2%;
    text-align: center;
    list-style: none;
}

.todo-list {
    color: white;
    text-decoration: underline;
    text-shadow: 1px 1px darkgrey;
}

.xbutton {
    padding-left: 5px;
    font-size: 40%;
}

.xbutton:hover {  
    background-color: black;
}

/* temp css */

#temp {
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px red;
}

.cloudIcon {
    text-align: center;
    width: 50%;
    height: 70%;
}

